<!-- <sample></sample>
<sample-presentation-change></sample-presentation-change> -->

<ayu-game>
    <ayu-back-screen [configuration]="Model.backScreen">
        <ayu-viewport [configuration]="Model.viewport" [linkWithActor]="actor">
            <ayu-window [configuration]="windowConf.value" [linkWithActor]="actor"></ayu-window>
            <ng-container *ngFor="let item of store.actorSet">
                <ayu-window [configuration]="windowConf.value" [linkWithActor]="item"></ayu-window>
            </ng-container>
        </ayu-viewport>
    </ayu-back-screen>
</ayu-game>