<!-- <sample></sample>
<sample-presentation-change></sample-presentation-change> -->

<ayu-game>
    <ayu-back-screen [configuration]="Model.backScreen">
        <ayu-viewport [configuration]="Model.viewport" [linkWithActor]="actor">
            <ayu-window-ac [configuration]="windowConf"></ayu-window-ac>
            <ng-container *ngFor="let item of store.windowConfigurationSet">
                <ayu-window-ac [configuration]="item.value"></ayu-window-ac>
            </ng-container>
        </ayu-viewport>
    </ayu-back-screen>
</ayu-game>