<div #inside>
    <ayu-css-background-switch [statusList]="configuration.cssBackgroundStatusList!" *ngIf="configuration.cssBackgroundStatusList != null"></ayu-css-background-switch>
    <ayu-image-background-switch [statusList]="configuration.imageBackgroundStatusList!" *ngIf="configuration.imageBackgroundStatusList != null"></ayu-image-background-switch>
    <ayu-sprite-background-switch [statusList]="configuration.spriteBackgroundStatusList!" *ngIf="configuration.spriteBackgroundStatusList != null"></ayu-sprite-background-switch>
    <ng-content></ng-content>
    <!-- <ayu-focus [status]="configuration.focusStatus"></ayu-focus> -->
</div>
